<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; ZBK Software @DateTime.Now.Year. All rights reserved.</span>
        </div>
    </div>
</footer>